<div class="row">
  <div class="col-md-12">
    <div class="card my-5">
      <div class="card-body">
        <h2 class="card-title text-center py-3">Send Survey</h2>
        <form (ngSubmit)="onSubmit()" #sendSurveyForm="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" [(ngModel)]="surveySend.email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Enter your email address"
                   required #email="ngModel">
          </div>
          <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
          <button type="submit" [disabled]="!sendSurveyForm.form.valid" class="btn btn-info">Send Survey</button>
        </form>
      </div>
    </div>
  </div>
</div>
