<div class="row">
  <div class="col-md-12">
    <div class="card my-5">
      <div class="card-body">
        <h2 class="card-title text-center py-3">Create Survey</h2>
        <form (ngSubmit)="onSubmit()" #createSurveyForm="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" [(ngModel)]="surveyCreate.title"
                   class="form-control"
                   id="title"
                   name="title"
                   placeholder="Enter a title"
                   required #name="ngModel">
          </div>
          <div [hidden]="!name.pristine" class="alert alert-danger">Title is required</div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" [(ngModel)]="surveyCreate.description"
                      class="form-control"
                      id="description"
                      name="description"
                      placeholder="Enter a description">
            </textarea>
          </div>
          <button type="submit" [disabled]="!createSurveyForm.form.valid" class="btn btn-info">Create Survey</button>
        </form>
      </div>
    </div>
  </div>
</div>
