<div class="row">
  <div class="col-md-12">
    <div class="card my-5">
      <div class="card-body">
        <h2 class="card-title text-center py-3">Survey Responses</h2>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let response of responses; let i = index">
            <td>{{response.uuid}}</td>
            <td>{{response.name}}</td>
            <td>
              <button class="btn btn-primary" (click)="view(i, response.uuid)">
                View
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
