<div class="row">
  <div class="col-md-12">

    <div class="card my-5">
      <div class="card-body" *ngIf="surveyResponse">
        <h2 class="card-title py-3">Survey</h2>
        <div class="form-group">
          <p><span class="font-weight-bold">Title: </span>
            <span class="font-italic">{{surveyResponse.title}}</span></p>
        </div>
        <div class="form-group">
          <p><span class="font-weight-bold">Description: </span>
            <span class="font-italic">{{surveyResponse.description}}</span></p>
        </div>
      </div>
    </div>

    <div class="card my-5">
      <div class="card-body" *ngIf="surveyResponse">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #surveyResponseForm="ngForm">
          <div class="form-group">
            <label>Name</label>
            <input type="text"
                   class="form-control"
                   formControlName="name">
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="text"
                   class="form-control"
                   formControlName="email">
          </div>

          <span *ngFor="let data of formData; let i = index">
            <span [ngSwitch]="data.type">

              <span *ngSwitchCase="'text'">
                <div class="form-group">
                  <label>{{data.label}}</label>
                  <input type="text"
                         class="form-control"
                         formControlName="{{data.label}}">
                </div>
              </span>

              <span *ngSwitchCase="'radio'">
                <label>{{data.label}}</label>
                <div class="form-check" *ngFor="let radio of data.options">
                  <input type="radio"
                         class="form-check-input"
                         value="{{radio}}"
                         formControlName="{{data.label}}">

                  <label class="form-check-label">{{radio}}</label>
                </div>
              </span>

            </span>
          </span>

          <button type="submit" [disabled]="!surveyResponseForm.form.valid" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
