<div class="row">
  <div class="col-md-12">
    <div class="card my-5">
      <div class="card-body">
        <h2 class="card-title text-center py-3">Surveys</h2>
        <p>
          <a routerLink="/publisher/survey/create" class="btn btn-info">Create Survey</a>
        </p>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let survey of surveys; let i = index">
            <td>{{survey.uuid}}</td>
            <td>{{survey.title}}</td>
            <td>
              <button class="btn btn-info" (click)="send(i, survey.uuid)">
                Send
              </button>
              <button class="btn btn-success" (click)="update(i, survey.uuid)">
                Edit
              </button>
              <button class="btn btn-danger" (click)="remove(i, survey.uuid)">
                Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
